<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Raleway:wght@100&display=swap"
    rel="stylesheet">

<div class="fixed-screen center-screen text-center">
    <div class="max-w-md mx-auto bg-white overflow-hidden md:max-w-2xl card">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <div class="my-picture"></div>
            </div>
            <div class="p-8 card-text">
                <div class="font-medium title text-primary px-2 text-4xl">
                    Colautti Lorenzo
                </div>
                <div class="font-medium subtitle text-sm text-primary px-3 md:pb-5 sm:pb-3">
                    Web and Mobile Developer Consultant
                </div>
                <div class="font-medium text-left text-sm mt-5 md:pt-5 sm:mt-0 sm:pt-0">
                    <a href="mailto:colautti.lorenzo@gmail.com" class="px-3">
                        <span class="icon icon-envelope"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/lorenzo-colautti-8b1190aa/" target="_blank" class="px-3">
                        <span class="icon icon-brands icon-linkedin"></span>
                    </a>
                    <a href="https://github.com/colauttilorenzo" target="_blank" class="px-3">
                        <span class="icon icon-brands icon-github"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>