<div class="fixed-screen center-screen text-center">
    <div class="text-4xl">
        <div class="flex items-center mx-5 card">
            <div class="flex-shrink-0">
                <div id="mypicture" class="my-picture"></div>
            </div>
            <div class="px-3 text-left">
                <div class="font-medium text-primary px-2">
                    Colautti Lorenzo
                </div>
                <div class="font-medium text-sm text-primary px-3 pb-5">
                    Web and Mobile Developer Consultant
                </div>
                <div class="font-medium text-sm mt-5 pt-5">
                    <a href="mailto:colautti.lorenzo@gmail.com" class="px-3">
                        <span class="icon icon-envelope"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/lorenzo-colautti-8b1190aa/" target="_blank" class="px-3">
                        <span class="icon icon-brands icon-linkedin"></span>
                    </a>
                    <a href="https://github.com/colauttilorenzo" target="_blank" class="px-3">
                        <span class="icon icon-brands icon-github"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>