@function theme-green($opacity) { @return rgba(32, 201, 151, $opacity) };
@function theme-blue($opacity) { @return rgba(0, 123, 244, $opacity) };
@function theme-yellow($opacity) { @return rgba(255, 255, 102, $opacity) };
@function theme-black($opacity) { @return rgba(0, 0, 0, $opacity) };
@function theme-white($opacity) { @return rgba(255, 255, 255, $opacity) };

$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-dark-grey: rgba(0, 123, 255, .3);
$color-light-grey: #eee;
$color-dark-green: rgba(32, 201, 151, .3);
$color-light-green: theme-green(1);
$color-primary: $color-light-green;
$color-secondary: theme-blue(1);
$color-tertiary: theme-yellow(1);

$primary: $color-primary;
$secondary: $color-secondary;
$tertiary: $color-tertiary;

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";